*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.App {
  text-align: center;
}
body{
  font-size: 1.01rem;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.logo{
  font-weight: bold;
  text-decoration: none;
  padding-right: 2rem;
  padding-left: 2rem;
  color:white;
}
.navBar{
  display:flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2a56b5;
  width: 100%;
}
.button{
  padding-top: 1rem;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom:1rem;
}
.button button{
  width:30px;
  height: 30px;
}
.button .cantidad{
  padding-left: 1rem;
  padding-right: 1rem;
}
.buttonCart{
  background-color: #2a56b5;
  border: none;
  color: white;
  border-radius: 8px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.buttonCart:hover{
  background-color: #132959;
}
.addSub{
  background-color: #2a56b5;
  border: none;
  color: white;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.addSub:hover{
  background-color: #132959;
}
.a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.a:hover{
  background-color: #132959;
}
.section{
  text-align: center;
  list-style-type: none;
  width: 100%;
  height: 100%;
  padding-top:2rem;
}
.item{
  width: 25%;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom:2rem;
  text-decoration: none;
}
.lista{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.itemDetail{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top:2rem
}
.itemIMG{
  padding-right:3rem;
  text-align: center;
}
.itemDesc{
  width:20%;
  text-align: center;
}
.itemBuy{
  padding-top:1.5rem;
}
.itemID{
  text-decoration: none;
  color: black;
}
.itemList{
  padding: 1rem;
  border-radius: 8px;
}
.itemList:hover{
  background-color: grey;
}
.listCart{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.center{
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}
.listCartIMG{
  width: 25%;
}
.listCartNP{
  width: 45%;
  text-align: center;
}
.listCartCant{
  width: 15%;
  text-align: center;
}
.total{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  text-align:center;
}
.cartWid{
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: white;
}
.text{
  text-decoration: none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
